@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    width: 400px;
}
h1 {
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;
}
h2 {
    font-size: 120%;
    color: teal;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
input[type="text"], input[type="email"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
span {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}

.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}
p,
span {
    font-size: 16pt;
}
.returnproject button {
    position: relative;
    top: 10px;
    color: #fff; /* Màu chữ trắng */
    padding: 10px 20px;
    border: none; /* Loại bỏ đường viền */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.returnproject .arrow {
    margin-right: 5px;
}

.returnproject button:hover {
    background-color: #0073e6;
}